.stage {
  width: 100%;
  padding: 32px;
  background-color: rgba(233, 216, 213, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1b1e17;
  font-weight: 900;
  margin-bottom: 24px;
}

.stage__mistakes {
  text-align: center;
  margin: 32px;
  color: #1b1e17;
  font-weight: 600;
}

.stage__words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
