.stage {
  height: 300px;
  width: 600px;
  padding: 32px;
  margin: 250px auto;
  background-color: #e9d8d5eb;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #1B1E17;
  font-weight: 900;
}

.stage__mistakes {
  text-align: center;
  margin: 32px;
  color: #1B1E17;
  font-weight: 600;
}

.stage__words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
