@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}



.container {
  min-width: 500px;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  background-image: url("/public/typing.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
